.crimson-btn{
    background-color: crimson;
    color: gold;
    border: 5px solid lime;
    width: 300;
    height: 100;
    font-size: xx-large;
}

.magenta-btn{
    background-color: magenta;
    color: aqua;
    border: none;
    width: 45px;
    height: 15px;
    font-size: xx-small;
}

.useless-btn{
    background-color: coral;
    color: royalblue;
    font-size: 1.2em;
    padding: 1.5em;
}

.btn-color{
    background-color: coral;
}

.blue-font{
    color: royalblue;
}

.black-font{
    color: black;
}

.normal-font{
    font-size: 1em;
}

.medium-font{
    font-size: 1.2em;
}

.big-font{
    font-size: 1.5em;
}

.normal-padding{
    padding: 1em;
}

.large-padding{
    padding: 1.5em;
}